/* Button Style */
.main-button-slider {
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #fba70b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease; /* Smooth transition */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline */
    cursor: pointer; /* Cursor style */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

/* Button Hover Effect */
.main-button-slider:hover {
    background-color: #f1556a; /* Darker color on hover */
}

body, html {
    height: 150%;
    width: 70%
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #191a20;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('{{ url_for('static', filename='images/banner-bg.png') }}') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* 50% opacity */
    z-index: -1; /* Ensure it stays behind other elements */
}

.results-container {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for the custom heading */
.custom-heading {
    font-weight: 900;
    font-size: 80px; /* Adjust the font size as needed */
    line-height: 60px; /* Adjust line height as needed */
    letter-spacing: 1px;
    margin-bottom: 30px;
    max-width: 100%
}

/* Style for the yellow text */
.yellow-text {
    color: #fba70b; /* Yellow color */
}

/* Style for the search form */
.search-form {
    margin-top: 20px; /* Adjust margin as needed */
}

.search-container {
    height: 100px;
    max-width: 600px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Align text and button to center */
}

/* Style for the search input */
#search_query {
    width: 100%; /* Take up full width of the container */
    padding: 10px; /* Add padding for better appearance */
    margin-bottom: 10px; /* Add spacing below the input */
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
/* Style for the banner image */
.banner-image {
    max-width: 50%;
    margin-top:-30px; /* Adjust margin as needed */
    margin-left:500px;
}


h2 {
    font-size: 2.5em;
    color: #fba70b;
    margin-bottom: 20px;
}

ul#results-list {
    list-style-type: none;
    padding: 0;
}

.result-item {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.result-item:hover {
    transform: scale(1.05);
}

.cheapest {
    background-color: #ffcccc;
    border: 2px solid red;
    font-size: 1.5em;
    font-weight: bold;
}

.second-cheapest {
    background-color: #ffe6cc;
    border: 2px solid orange;
    font-size: 1.4em;
    font-weight: bold;
}

.third-cheapest {
    background-color: #ffffcc;
    border: 2px solid yellow;
    font-size: 1.3em;
    font-weight: bold;
}
